


/* Header Middle Part */
.middle-header .custom-border, .my-account{
  border: 1px solid black;
  border-radius: 10em;
}


.icon-custom{
  padding: 5px;
  border: 1px solid #ffca04;
  background: #ffca04;
  border-radius: 30px;
  font-size: 30px;
}

#header .main-menu{
  background: #ffca04;
}

#header .header-cart{
  background-color: #121212;
  padding: .5rem 2rem .5rem 2rem;
}

#header .main-menu .active{
  border-top: 2px solid #000;
}

#header .main-menu .navbar-toggler{
  background-color: #000;
  border: 1px solid transparent;
}