


/* Header Middle Part */
.middle-header .custom-border, .my-account{
  border: 1px solid black;
  border-radius: 10em;
}


.icon-custom{
  padding: 5px;
  border: 1px solid #ffca04;
  background: #ffca04;
  border-radius: 30px;
  font-size: 30px;
}

#header .main-menu{
  background: #ffca04;
}

#header .header-cart{
  background-color: #121212;
  padding: .5rem 2rem .5rem 2rem;
}

#header .main-menu .active{
  border-top: 2px solid #000;
}

#header .main-menu .navbar-toggler{
  background-color: #000;
  border: 1px solid transparent;
}

/* Slider */
#slider{
  background: #DBA401;
  padding-bottom: 70px;
}

#slider .carousel-caption {
  top: 45%;
  transform: translateY(-50%);
  bottom: inherit;
  text-align: left;
  left: 13%;
  right: 10%;
  max-width: 563px;
  border-top: 9px solid #f2b701;
  border-bottom: 9px solid #f2b701;
  border-right: 9px solid #f2b701;
}

#slider .sub-head{
  font-size: 1.5rem;
  letter-spacing: .5rem;
  font-family: 'Tangerine', serif;
  font-weight: bold;
  color:#121212;
}
#slider .sub-head:after{
  content: "";
  width:26%;
  height: 2px;
  background-color:#121212;
  position: absolute;
  top: 50px;
  margin-left: 20px;
}

#slider .carousel-caption h1{
  color:#121212;
}

#slider .pre-icon{
  max-width: 50px;
  max-height: 50px;
  border: 1px solid #121212;
  padding: 15px;
  border-radius: 50%;
}

.read-more
{
  border:1px solid #121212;
  font-size: 16px;
  border-radius: 40px;
  color:#121212;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 40px;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #121212;
  transform: scale(0);
  transition-duration: 0.3s;
  border-radius: 40px;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: #ffca04 !important;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.carousel-indicators li{
  width: 15px;
  height: 15px;
  border:1px solid #ffffff;
  border-radius: 50%;
}

/* Banner */
#banner{
  margin-top: -70px;
}
#banner .banner1{
  background: url('../images/salebanner1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
}
#banner .banner2{
  background: url('../images/salebanner2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
}
#banner .banner3{
  background: url('../images/salebanner3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
}
#banner .banner4{
  background: url('../images/salebanner4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
}

/*New Collection*/
.collection-title, .categories-title{
  letter-spacing: 1px;
  color: #121212;
  font-family: "Fjalla One";
}
.collection-title h3:before, .categories-title h3:before{
  content: "";
  background-color:#121212;
  width: 70px;
  height: 3px;
  position: absolute;
  margin-left: -91px;
  margin-top: 21px;
}
.collection-title h3:after, .categories-title h3:after{
  content: "";
  background-color:#121212;
  width: 70px;
  height: 3px;
  position: absolute;
  margin-left:23px;
  margin-top: 21px;
}

#new-collection .card a.button{
  text-indent: -9999px;
  background: #121212 url('../images/carticon.png') center no-repeat;
  border: 3px solid #fff;
  display: block;
  margin: -40px auto 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  position: relative;
}
#new-collection .product-sale{
  position: absolute;
  background-color: #121212;
  padding: 8px 5px;
  font-size:12px;
  transform: rotate(-45deg);
}
.product-sale:before
{
  content: "";
  border-bottom: 35px solid #121212;
  border-left: 25px solid transparent;
  position: absolute;
  left: -24px;
  top: -1px;
}
.product-sale:after
{
  content: "";
  border-bottom: 35px solid #121212;
  border-right: 25px solid transparent;
  position: absolute;
  left: 32px;
  top: -1px;
}

/*Top Categories*/
#top-categories{
  background: #121212;
}
.categories-title{
  color: #fff;
}
.categories-title h3:before{
  background-color:#fff;
}
.categories-title h3:after{
  background-color:#fff;
}

/*Media*/
@media only screen and (max-width: 576px) {
  
  .collection-title h3:before, .categories-title h3:before{
    display: none
  }
  .collection-title h3:after, .categories-title h3:after{
    display: none
  }
}